version: "3.8"

services:
  atlantis:
    image: ghcr.io/runatlantis/atlantis:{{ atlantis_docker_tag }}
    ports:
      - "{{ atlantis_server_port }}:4141"
    volumes:
      - atlantis-home:/home/atlantis
      - ./config.yml:/etc/atlantis/config.yml
    env_file:
      - .env
    restart: unless-stopped

volumes:
  atlantis-home:
    driver: local
